.bg-image{
    background-image: url("../img/01.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.h-box-1{
    min-height: 80%;
}

.p-10{
    padding: 100px;
}

.bg-pink-color{
    background: rgb(252,244,244);
    background: linear-gradient(180deg, rgba(252,244,244,1) 54%, rgba(227,221,221,1) 100%, rgba(2,0,36,1) 100%);
}

.bg-purple{
    background-color: rgb(177, 120, 177);
}

.text-purple{
    color: rgb(177, 120, 177);
}