.bg-image{
    background-image: url("../img/bg-image.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.h-box-1{
    min-height: 80%;
}

.bg-pink-color{
    background: rgb(252,244,244);
    background: linear-gradient(180deg, rgb(229, 226, 226) 54%, rgb(196, 192, 192) 100%, rgba(2,0,36,1) 100%);
}

.bg-purple{
    background-color: rgb(177, 120, 177);
}

.text-purple{
    color: rgb(177, 120, 177);
}